<% if (user) { %>
  <p>You are already logged in! <a href="#/">Return to homepage</a>.</p>

<% } else { %>
  <form class="form forgot-form">
    <p>Enter your email address and instructions will be sent to reset your password</p>
    <input name="email" type="text" placeholder="Email" />
    <button type="submit">Submit</button>
    <div class="message"></div>
  </form>
<% } %>
