<nav class="nav main" role="menubar">

  <% if (user) { %>
    <a href="#/" role="menuitem" class="nav-item">Home</a>
    <a href="#/app" role="menuitem" class="nav-item">My Relationships</a>
    <a href="#/relationships/add" role="menuitem" class="nav-item add-relationship">Add Relationship</a>
    <a href="#/account" role="menuitem" class="nav-item">Account</a>
    <a href="#/signout" role="menuitem" class="nav-item sign-out-link">Sign Out</a>

  <% } else { %>
    <!-- <a href="#/signin" role="menuitem" class="nav-item">Sign In</a>
    <a href="#/signup" role="menuitem" class="nav-item">Sign Up</a> -->
  <% } %>
</nav>

<div class="message main" role="alert"></div>
