<h1><a href="#/">Home</a></h1>

<nav class="nav main" role="menubar">
  <% if (user) { %>
    <a href="#/account" role="menuitem" class="nav-item">Account</a>
    <a href="#/signout" role="menuitem" class="nav-item sign-out-link">Sign Out</a>

  <% } else { %>
    <a href="#/signin" role="menuitem" class="nav-item">Sign In</a>
    <a href="#/signup" role="menuitem" class="nav-item">Sign Up</a>
  <% } %>
</nav>

<div class="message" role="alert"></div>
