<div class="light level<%= relationship ? relationship.level : '' %>"></div>
<div class="light flicker level<%= relationship ? relationship.level : '' %>"></div>
<div class="string"></div>
<div class="name"><%= relationship ? relationship.name : '' %></div>
