<form class="form reset-form">
  <label form="pass">Enter a new password</label>
  <input name="pass" type="password" placeholder="New Password" />
  <button type="submit">Submit</button>
  <div class="message"></div>
</form>
