<% if (user) { %>
  <p>You are already logged in! <a href="#/">Return to homepage</a>.</p>

<% } else { %>
  <form class="form signin-form">
    <input name="login_string" type="text" placeholder="Username / Email" />
    <input name="login_pass" type="password" placeholder="Password" />
    <button type="submit">Submit</button>
    <div class="message"></div>
  </form>
<% } %>
