@import "mixins";
@import "variables";

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

@include keyframes(fadeOutUp) {
  0% {
    opacity: 1;
    @include transform(none);
  }

  100% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }
}

@include keyframes(pulseScaleOut) {
  0% {
    opacity: 1;
    @include transform(scale(0));
  }

  100% {
    opacity: 0;
    @include transform(scale(1.0));
  }
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(360deg));
  }
}
