@import "mixins";
@import "variables";

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeInOut) {
  0%, 100% {
    opacity: 0;
    @include transform(translateZ(0));
  }
  50% {
    opacity: 1;
    @include transform(translateZ(0));
  }
}
