$white: #fff;
$grayLightest: #F5F5F5;
$grayLighter: #EEEEEE;
$grayLight: #E0E0E0;
$gray: #BDBDBD;
$grayDark: #757575;
$grayDarker: #424242;
$grayDarkest: #212121;
$black: #000;

$darkGray: #292323;
$darkBlue: #0d131e;
$yellow: #FFF59D;
$red: #ff5454;
$green: #97dd52;

$highlight: $yellow;
$secondary: $yellow;
$secondaryLight: lighten($secondary, 10%);

$lightImageRatio: (400/267);
